.loader{

    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 20px red solid;
    border-top: 20px solid black;
    animation: ajit 2s ease-in 0s infinite normal;

}

@keyframes ajit{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}